/*
____  _   _ _____ _____ ___  _   _ ____
| __ )| | | |_   _|_   _/ _ \| \ | / ___|
|  _ \| | | | | |   | || | | |  \| \___ \
| |_) | |_| | | |   | || |_| | |\  |___) |
|____/ \___/  |_|   |_| \___/|_| \_|____/

*/

.btn-success {
    background-color: $westGreen;
    border: none !important;
    text-transform: uppercase;
    border-radius: 0px;
    color: $white !important;
    font-size: .85em;

    &:hover {
        background-color: darken($westGreen, 20%);
    }
}

.btn-info {
    background-color: $westGreen !important;
    border: none !important;
    text-transform: uppercase;
    border-radius: 0px;
    color: $white !important;
    font-size: .85em;

    &:hover {
        background-color: darken($westGreen, 20%) !important;
    }
}

.btn-linkedin {
    background-color: #55a5db !important;
    border: none !important;
    text-transform: uppercase;
    border-radius: 0px;
    color: $white !important;
    font-size: .85em;

    &:hover {
        background-color: darken(#55a5db, 20%) !important;
    }
}

.btn-reset {
    background-color: $westGreen !important;
    border: none !important;
    text-transform: uppercase;
    border: 1px solid $lightGray;
    border-radius: 0px;
    color: $white !important;
    font-size: .85em;

    &:hover {
        background-color: $charcoal !important;
    }
}

.btn-email {
    padding: 8px 20px 8px 20px;
    margin: 0px 0px 0px 25px;

    i {
        padding: 0px 8px 0px 0px;
    }
}

.btn-stacked {
    margin: 10px 0px 0px 0px;
}

#contactUsRibbon {
    margin: -12px 0px 0px 0px;
    right: 0;
    position: fixed;
    color: $white !important;
    z-index: 999 !important;


    /*0px --> 767px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        display: none;
    }
}

#contactUsRibbonIndex {
    margin: 0px;
    right: 0;
    position: fixed;
    color: $white !important;
    z-index: 999 !important;

    /*0px --> 767px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        display: none;
    }
}

#contactUsRibbonServices {
    margin: -14px 0px 0px 0px;
    color: $white !important;
    right: 0;
    position: fixed;
    z-index: 999 !important;


    /*0px --> 767px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        display: none;
    }
}

#contactUsRibbonTeam {
    margin: -34px 0px 0px 0px;
    color: $white !important;
    right: 0;
    position: fixed;
    z-index: 999 !important;


    /*0px --> 767px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        display: none;
    }
}

#contactUsRibbonMarkets {
    margin: -32px 0px 0px 0px !important;
    right: 0;
    position: fixed;
    color: $white !important;
    z-index: 999 !important;


    /*0px --> 767px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        display: none;
    }
}

#contactUsRibbonPersonnel {
    margin: -34px 0px 0px 0px;
    color: $white !important;
    right: 0;
    position: fixed;
    z-index: 999 !important;


    /*0px --> 767px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        display: none;
    }
}

#contactUsRibbonStaffDirectory {
    margin: -33px 0px 0px 0px;
    color: $white !important;
    right: 0;
    position: fixed;
    z-index: 999 !important;


    /*0px --> 767px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        display: none;
    }
}

#contactUsRibbonReports {
    margin: -23px 0px 0px 0px;
    color: $white !important;
    right: 0;
    position: fixed;
    z-index: 999 !important;


    /*0px --> 767px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        display: none;
    }
}

#contactUsRibbonMarkets {
    margin: -43px 0px 0px 0px;
    color: $white !important;
    right: 0;
    position: fixed;
    z-index: 999 !important;


    /*0px --> 767px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        display: none;
    }
}

#contactUsRibbonLocations {
    margin: 6px 0px 0px 0px;
    color: $white !important;
    right: 0;
    position: fixed;
    z-index: 999 !important;


    /*0px --> 767px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        display: none;
    }
}

.staffDirectoryButton {
    float: left !important;
    margin-right: 30px;
}

.emailStaffMemberBTN {
    display: block;
}

#viewArticlesBTN {
    margin: 10px 0px 0px 0px;
    font-size: .7em;
}

.servicesBTN {
    font-size: .8em !important;
    margin: 15px 0px 0px 0px;
}

.emailStaffMemberBTN {
    margin: 15px 0px 0px 25px;
}

.backBTN {
    left: 0;
    position: fixed;
    display: inline;
    margin: 110px 0px 0px 0px;
    z-index: 10000;
}

.btn-bookstore {
    margin: 10px 0px 0px 0px;

    /*0px --> 768px*/
    @media only screen and (min-width:0px) and (max-width:767px) {
        margin: 10px 0px 20px 0px;
    }
}

/* -------------------------- END CUSTOM BUTTONS -------------------------- */




















.btn, .button, button {
  float: left;
  display: block;
  min-width: $unit-jumbo;
  padding: $unit $unit-md;
  border: 2px solid $color-primary;
  border-radius: 0;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background: $color-primary;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: all .3s ease;

  @include mq(sm) {
    width: 100%;
  }

  &:hover {
    border: 2px solid lighten($color-primary, 15%);
    background: lighten($color-primary, 15%);
  }

  // primary button
  &.btn-primary {
    border: 2px solid $color-primary;
    background: $color-primary;
    color: $white;

    &:hover {
      border: 2px solid lighten($color-primary, 15%);
      background: lighten($color-primary, 15%);
    }
  }

  // secondary button
  &.btn-secondary {
    border: 2px solid $color-secondary-alt;
    background: $color-secondary-alt;
    color: $white;

    &:hover {
      border: 2px solid lighten($color-secondary-alt, 15%);
      background: lighten($color-secondary-alt, 15%);
    }
  }

  // red button
  &.btn-red {
    border: 2px solid $red-potion;
    background: $red-potion;
    color: $white;

    &:hover {
      border: 2px solid darken($red-potion, 15%);
      background: darken($red-potion, 15%);
    }
  }

  // green button
  &.btn-green {
    border: 2px solid $green-potion;
    background: $green-potion;
    color: $white;

    &:hover {
      border: 2px solid darken($green-potion, 15%);
      background: darken($green-potion, 15%);
    }
  }

  // blue button
  &.btn-blue {
    border: 2px solid $blue-potion;
    background: $blue-potion;
    color: $white;

    &:hover {
      border: 2px solid darken($blue-potion, 15%);
      background: darken($blue-potion, 15%);
    }
  }

  // orange button
  &.btn-orange {
    border: 2px solid $orange-potion;
    background: $orange-potion;
    color: $white;

    &:hover {
      border: 2px solid darken($orange-potion, 15%);
      background: darken($orange-potion, 15%);
    }
  }

  // purple button
  &.btn-purple {
    border: 2px solid $purple-potion;
    background: $purple-potion;
    color: $white;

    &:hover {
      border: 2px solid darken($purple-potion, 15%);
      background: darken($purple-potion, 15%);
    }
  }

  // dark gray button
  &.btn-dark {
    border: 2px solid $dark-gray;
    background: $dark-gray;
    color: $white;

    &:hover {
      border: 2px solid darken($dark-gray, 15%);
      background: darken($dark-gray, 15%);
    }
  }

  // light gray button
  &.btn-gray {
    border: 2px solid $light-gray;
    background: $light-gray;
    color: $white;

    &:hover {
      border: 2px solid darken($light-gray, 15%);
      background: darken($light-gray, 15%);
    }
  }

  // grayed out/inactive button state
  &:disabled,
  &.js-disabled,
  &.btn-disabled {
    cursor: default;
    background: $light-gray !important;
    color: $off-white;
    pointer-events: none;
  }

  &.btn-inline {
    background-color: transparent;
    color: $color-secondary-alt;
    border: 0;

    &:hover {
      color: lighten($color-secondary-alt, 15%);
    }
  }

  // creates a small size button
  &.btn-small {
    min-width: 0;
    padding: .75rem 1.25rem;
    @include font($font: $font-1, $style: normal, $size: $font-size-sm, $weight: 600);
  }

  // creates a miniature size button
  &.btn-mini {
    min-width: 0;
    padding: 7px 14px;
    @include font($font: $font-1, $style: normal, $size: 12px, $weight: 600);
  }

  // creates a small size button
  &.btn-small {
    min-width: 0;
    padding: $unit-sm $unit-sm;
    @include font($font: $font-1, $style: normal, $size: $font-size-base, $weight: 600);
  }

  // button that spans/fills the width of the container
  &.btn-full {
    display: block;
    width: 100%;
    text-align: center;
  }

  // double width standard button
  &.btn-wide {
    min-width: 0;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    @include font($font: $font-1, $style: normal, $size: $font-size, $weight: normal);
  }
}


/* ==========================================================================
   %% Styling for Outlined Buttons %%
   ========================================================================== */

.btn-outline {
  background: $white;
  border: 2px solid $color-primary;
  color: $color-primary;

  &:hover {
    border: 2px solid darken($color-primary, 15%);
    background-color: darken($color-primary, 15%);
    color: $white;
  }

  // secondary outlined button
  &.btn-secondary {
    border: 2px solid $color-secondary;
    color: $color-secondary;
    background-color: $white;

    &:hover {
      border: 2px solid darken($color-secondary, 15%);
      background-color: darken($color-secondary, 15%);
      color: $white;
    }
  }

  // red outlined button
  &.btn-red {
    border: 2px solid $red-potion;
    color: $red-potion;
    background-color: $white;

    &:hover {
      border: 2px solid darken($red-potion, 15%);
      background-color: darken($red-potion, 15%);
      color: $white;
    }
  }

  // green outlined button
  &.btn-green {
    border: 2px solid $green-potion;
    color: $green-potion;
    background-color: $white;

    &:hover {
      border: 2px solid darken($green-potion, 15%);
      background-color: darken($green-potion, 15%);
      color: $white;
    }
  }

  // blue outlined button
  &.btn-blue {
    border: 2px solid $blue-potion;
    color: $blue-potion;
    background-color: $white;

    &:hover {
      border: 2px solid darken($blue-potion, 15%);
      background-color: darken($blue-potion, 15%);
      color: $white;
    }
  }

  // orange outlined button
  &.btn-orange {
    border: 2px solid $orange-potion;
    color: $orange-potion;
    background-color: $white;

    &:hover {
      border: 2px solid darken($orange-potion, 15%);
      background-color: darken($orange-potion, 15%);
      color: $white;
    }
  }

  &.btn-purple {
    border: 2px solid $purple-potion;
    color: $purple-potion;
    background-color: $white;

    &:hover {
      border: 2px solid darken($purple-potion, 15%);
      background-color: darken($purple-potion, 15%);
      color: $white;
    }
  }

  &.btn-dark {
    border: 2px solid $dark-gray;
    color: $dark-gray;
    background-color: $white;

    &:hover {
      border: 2px solid darken($dark-gray, 15%);
      background-color: darken($dark-gray, 15%);
      color: $white;
    }
  }

  &.btn-gray {
    border: 2px solid $light-gray;
    color: $light-gray;
    background-color: $white;

    &:hover {
      border: 2px solid darken($light-gray, 15%);
      background-color: darken($light-gray, 15%);
      color: $white;
    }
  }
}

.contact-btn-callout {
  position: fixed;
  top: 120px;
  right: -112px;
  padding: $unit $unit-sm;
  background-color: $color-primary;
  border: 0px;
  color: $white;
  transition: all 200ms ease;
  z-index: 20;

  &:hover {
    right: 0px;
    background-color: lighten($color-primary, 12%);
    color: $white;
    border: 0px;

    i {
      margin-right: $unit-xxs;
    }
  }

  i {
    margin-right: $unit-xs;
    font-size: 18px;
    color: $white;
  }
}
