/*
 _        _ __   _____  _   _ _____
| |      / \\ \ / / _ \| | | |_   _|
| |     / _ \\ V / | | | | | | | |
| |___ / ___ \| || |_| | |_| | | |
|_____/_/   \_\_| \___/ \___/  |_|

*/

.body-container {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 20px;
  overflow-y: auto; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  .body-container--inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    .bci--left {
      float: left;
      width: calc(100% - 450px);
      padding: 10px 20px 50px 80px;

      @include mq(lg) {
        padding: 10px 25px 30px 55px;
      }

      @include mq(md) {
        width: 100%;
        padding: 30px 40px 30px 40px;

        img {
          display: none;
        }
      }

      @include mq(sm) {
        width: 100%;
        padding: 10px 20px 10px 20px;


        img {
          display: none;
        }
      }

      .body-content-text {
        float: left;
        width: 100%;
        margin-top: 10px;
        font-family: $font-secondary;
        font-size: 16px;
        color: $black;
        line-height: 135%;

        .bct--left {
          float: left;
          width: 80%;
          padding-right: 30px;

          @include mq(lg) {

          }

          @include mq(md) {
            width: 100%;
          }

          @include mq(sm) {
            width: 100%;
            margin: 0;
            padding: 0;
          }

          h1.main-title {
            margin-bottom: 0;
          }
        }

        .bct--right {
          float: left;
          width: 20%;

          @include mq(lg) {
            img {
              max-width: 150px;
            }
          }

          @include mq(md) {
            width: 100%;

            img {
              max-width: 150px;
            }
          }

          @include mq(sm) {
            width: 100%;
          }

          img {
            @include mq(lg) {
              max-width: 150px !important;
            }

            @include mq(md) {
              max-width: 150px !important;
            }

            @include mq(sm) {
              width: 100%;
              max-width: 500px;
            }
          }

          .body-content {
            float: left;
            width: 100%;
            padding-bottom: 20px;
            font-family: $font-secondary;
            font-size: 14px;
            color: $black;
            line-height: 140%;

            .bc--left {
              float: left;
              width: calc(100% - 250px);
              padding-right: 25px;

              .image-inside-body-content-two {
                margin-top: 20px;
              }

              @include mq(lg) {
                width: calc(100% - 250px);
              }

              @include mq(md) {
                width: 100%;
                padding-right: 0;
              }

              @include mq(sm) {
                width: 100%;
                padding-right: 0;
              }
            }

            .bc--right {
              float: left;
              width: 250px;
              text-align: center;
              padding-left: 25px;

              @include mq(lg) {
                width: 250px;
              }

              @include mq(md) {
                width: 100%;
              }

              @include mq(sm) {
                width: 100%;
              }

              img {
                float: left;
                width: 100%;
                max-width: 250px;
                margin-top: 30px;

                @include mq(lg) {
                  max-width: 150px;
                }

                @include mq(md) {
                  max-width: 150px;
                }

                @include mq(sm) {
                  width: 100%;
                  max-width: 500px;
                }
              }
            }
          }

          img {
            max-width: 200px;
          }
        }

        p {
          float: left;
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
          font-family: $font-secondary;
          font-size: 16px;
          color: $black;
          line-height: 135%;
        }
      }

      ul.bulleted-list {
        float: left;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
        list-style-type: disc;

        li {
          float: left;
          clear: both;
          margin-top: 12px;
          margin-left: 17px;
          font-family: $font-secondary;
          font-size: 16px;
        }
      }
    }

    .bci--right {
      float: left;
      width: 450px;
      padding: 30px 40px 40px 40px;

      @include mq(md) {
        width: 100%;
        padding: 20px 40px 40px 40px;
      }

      @include mq(sm) {
        width: 100%;
        padding: 0 20px 40px 20px;
      }
    }
  }
}
