/*
 ____   ___   ____ ___    _    _       __  __ _____ ____ ___    _      _   _    ___     __
/ ___| / _ \ / ___|_ _|  / \  | |     |  \/  | ____|  _ \_ _|  / \    | \ | |  / \ \   / /
\___ \| | | | |    | |  / _ \ | |     | |\/| |  _| | | | | |  / _ \   |  \| | / _ \ \ / /
__ _) | |_| | |___ | | / ___ \| |___  | |  | | |___| |_| | | / ___ \  | |\  |/ ___ \ V /
|____/ \___/ \____|___/_/   \_\_____| |_|  |_|_____|____/___/_/   \_\ |_| \_/_/   \_\_/

*/

.social-media-nav {
  position: absolute;
  top: 467px;
  right: 0;
  float: right;
  font-size: 14px;
  transition: all 200ms cubic-bezier(.4,1.84,.94,.95);
  border: 0 !important;
  background-color: $white;
  z-index: 10000;

  @include mq(lg) {
    top: 467px;
  }

  @include mq(md) {
    top: 296px;
  }

  @include mq(sm) {
    top: 296px;
  }

  li {
    float: left;

    a {
      float: left;
      padding: 8px 12px;
      color: $color-primary;

      i {
        padding-left: 0;
        font-size: 18px;
        color: $color-primary;
      }

      &:hover {
        background-color: $color-primary;

        i {
          color: $white;
        }
      }
    }
  }
}

.sm-nav--locations {
  position: relative;
  top: 72px;

  @include mq(lg) {
    top: 72px;
  }

  @include mq(md) {
    top: 192px;
  }

  @include mq(sm) {
    top: 192px;
  }
}

.sm-nav--safety {
  position: relative;
  top: 72px;

  @include mq(lg) {
    top: 72px;
  }

  @include mq(md) {
    top: 192px;
  }

  @include mq(sm) {
    top: 192px;
  }
}

.sm-nav--careers {
  position: relative;
  top: 21px;

  @include mq(lg) {
    top: 21px;
  }

  @include mq(md) {
    top: 192px;
  }

  @include mq(sm) {
    top: 192px;
  }
}

.sm-nav--news {
  position: relative;
  top: 72px;

  @include mq(lg) {
    top: 72px;
  }

  @include mq(md) {
    top: 192px;
  }

  @include mq(sm) {
    top: 192px;
  }
}

.sm-nav--culture {
  position: relative;
  top: 21px;

  @include mq(lg) {
    top: 21px;
  }

  @include mq(md) {
    top: 192px;
  }

  @include mq(sm) {
    top: 192px;
  }
}

.sm-nav--home {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100000000;

  .social-media-nav {
    position: static;
    float: right;
    width: 160px;
    margin-top: -44px;
    padding-right: 0px;
    background-color: #FFFFFF;
  }

  @include mq(lg) {
    margin-top: 0px;
  }

  @include mq(md) {
    margin-top: 0px;
  }

  @include mq(sm) {
    display: none;
  }
}

.sm-nav--team {
  position: relative;
  top: 21px;

  @include mq(lg) {
    top: 21px;
  }

  @include mq(md) {
    top: 192px;
  }

  @include mq(sm) {
    top: 192px;
  }
}

.sm-nav--events {
  position: relative;
  top: 21px;

  @include mq(lg) {
    top: 21px;
  }

  @include mq(md) {
    top: 192px;
  }

  @include mq(sm) {
    top: 192px;
  }
}

.sm-nav--profile {
  position: relative;
  top: 21px;

  @include mq(lg) {
    top: 21px;
  }

  @include mq(md) {
    top: 192px;
  }

  @include mq(sm) {
    top: 192px;
  }
}
