/*
  ____    _    ____  _____ _____ ____  ____
 / ___|  / \  |  _ \| ____| ____|  _ \/ ___|
| |     / _ \ | |_) |  _| |  _| | |_) \___ \
| |___ / ___ \|  _ <| |___| |___|  _ < ___) |
 \____/_/   \_\_| \_\_____|_____|_| \_\____/

*/

.careers-page-container {
  .careers-page--header {
    background-position: 0px 0;

    @include mq(xl) {
      background-position: 0px 0;
    }

    @include mq(lg) {
      background-position: -400px 0;
    }

    @include mq(md) {
      background-position: -600px 0;
    }

    @include mq(sm) {
      background-position: -800px 0;
    }

    .main-header-title {

    }
  }

  .careers-page--inner {
    .careers-page--inner-left {
      padding-top: 20px;

      h1.main-title {
        margin-bottom: 0;
      }

      .body-content {
        p {
          float: left;
          width: 100%;
          margin-top: 15px;
          font-family: $font-secondary;
          line-height: 140%;
        }
      }

      .title-of-list {
        float: left;
        width: 100%;
        margin-top: 25px;
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 600;
      }

      .btn {
        margin-top: 20px;
      }
    }

    .careers-page--inner-right {
      .sidebar-text {
        float: left;
        width: 100%;
        max-width: 350px;
        margin-top: 20px;
        padding: 20px;
        font-family: $font-secondary;
        font-size: 17px;
        font-style: italic;
        font-weight: 500;
        color: $black;
        background-color: #EDEDED;
        line-height: 140%;
      }
    }
  }
}
