/*
_______     _______ _   _ _____ ____
| ____\ \   / / ____| \ | |_   _/ ___|
|  _|  \ \ / /|  _| |  \| | | | \___ \
| |___  \ V / | |___| |\  | | |  ___) |
|_____|  \_/  |_____|_| \_| |_| |____/

*/

.events-page-container {
  .social-media-nav {
    top: 416px;

    @include mq(lg) {
      top: 416px;
    }

    @include mq(md) {
      top: 296px;
    }

    @include mq(sm) {
      top: 296px;
    }
  }

  .events-page--header {
    position: relative;
    float: left;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;

    .superhero-title {


      @include mq(xl) {

      }

      @include mq(lg) {

      }

      @include mq(md) {

      }

      @include mq(sm) {

      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 450px;
      background-color: rgba(14, 82, 132, .45);
      z-index: 1;

      @include mq(lg) {

      }

      @include mq(md) {

      }

      @include mq(sm) {

      }
    }
  }

  .events-page--inner {
    .events-page--inner-left {
      float: left;
      width: calc(100% - 450px);

      @include mq(lg) {
        width: calc(100% - 390px);
      }

      @include mq(md) {
        width: 100%;
      }

      @include mq(sm) {
        width: 100%;
      }

      .events-list {
        float: left;
        width: 100%;
        padding: 0 0 30px 0;

        li {
          margin: 30px 0 30px 0;
          padding: 10px 25px 10px 25px;
          border-bottom: 1px solid #ddd;

          @include mq(md) {
            padding: 10px 15px 10px 15px;
          }

          @include mq(sm) {
            padding: 10px 5px 10px 5px;
          }

          h2 {
            float: left;
            width: 100%;
            margin-bottom: 0px;
            padding-right: 15px;
            font-family: $font-primary;
            font-size: 22px;
            font-weight: 500;
            line-height: 140%;
            color: $black;

            @include mq(lg) {
              font-size: 20px;
              font-weight: 500;
              line-height: 140%;
            }

            @include mq(md) {
              font-size: 18px;
              font-weight: 500;
              line-height: 140%;
            }

            @include mq(sm) {
              font-size: 18px;
              font-weight: 500;
              line-height: 140%;
            }
          }

          h3 {
            float: left;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: $font-secondary;
            font-size: 15px;
            font-weight: 600;
            font-style: italic;
            line-height: 135%;
            color: #444444;
          }

          p {
            padding: 0 0 10px 0;
            font-family: $raleway;
            font-size: .9em;
            line-height: 1.4em;
            color: $black;
          }

          span{
            padding: 20px 0 20px 0;
            font-family: $raleway;
            font-weight: 500;
            font-size: 1.1em;
            color: darken($color-primary, 15%) !important;
          }

          img {
            max-width: 400px;
            height: auto;
            margin: 15px 0 0 0;
          }
        }

        /*0px --> 768px*/
        @media only screen and (min-width:0px) and (max-width:767px) {
          padding: 10px 0 30px 0;
          margin: 10px 0 30px 0;
        }
      }
    }

    .events-page--inner-right {
      float: left;
      width: 450px;

      @include mq(lg) {
        width: 390px;
      }

      @include mq(md) {
        width: 100%;
        border-left: 0px;
      }

      @include mq(sm) {
        width: 100%;
        border-left: 0px;
      }

      .sidebar-container {
        .subnav-sidebar {
          @include mq(lg) {

          }

          @include mq(md) {
            border-left: 0px;
          }

          @include mq(sm) {
            padding-left: 25px;
            border-left: 0px;
          }
        }
      }
    }
  }
}
