/*
_______     _______ _   _ _____ ____
| ____\ \   / / ____| \ | |_   _/ ___|
|  _|  \ \ / /|  _| |  \| | | | \___ \
| |___  \ V / | |___| |\  | | |  ___) |
|_____|  \_/  |_____|_| \_| |_| |____/

*/

.eventsBodyContainer {
  float: left;
  clear: right;
  width: 100%;
  padding: 0px 0px 30px 0px;

  h2 {
    font-family: $opensans;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #555;
    padding: 0px 0px 5px 0px;
  }

  h3 {
    font-family: $raleway;
    font-weight: 500;
    font-size: .95em;
    line-height: 1.3em;
    font-style: italic;
    color: $westGreen;
    padding: 5px 0px 0px 0px;
  }

  p {
    font-family: $raleway;
    font-size: .9em;
    line-height: 1.4em;
    color: $black;
    padding: 0px 0px 10px 0px;
  }

  span{
    font-family: $raleway;
    font-weight: 500;
    font-size: 1.1em;
    color: darken($westGreen, 15%) !important;
    padding: 20px 0px 20px 0px;
  }

  li {
    padding: 30px 40px 40px 40px;
    margin: 30px 0px 30px 0px;
    border: 1px solid #ddd;
  }

  img {
    margin: 15px 0px 0px 0px;
    max-width: 400px;
    height: auto;
    background: $white;
    padding: 8px;
    border: 1px solid #ddd;
  }

  /*0px --> 768px*/
  @media only screen and (min-width:0px) and (max-width:767px) {
    padding: 10px 0px 30px 0px;
    margin: 10px 0px 30px 0px;
  }
}

/* -------------------------- END EVENTS CSS -------------------------- */
