/*
____  ____   ___  _____ _____ ____ ____ ___ ___  _   _    _    _       ____  ____   ___  _____ ___ _     _____ ____
|  _ \|  _ \ / _ \|  ___| ____/ ___/ ___|_ _/ _ \| \ | |  / \  | |     |  _ \|  _ \ / _ \|  ___|_ _| |   | ____/ ___|
| |_) | |_) | | | | |_  |  _| \___ \___ \| | | | |  \| | / _ \ | |     | |_) | |_) | | | | |_   | || |   |  _| \___ \
|  __/|  _ <| |_| |  _| | |___ ___) |__) | | |_| | |\  |/ ___ \| |___  |  __/|  _ <| |_| |  _|  | || |___| |___ ___) |
|_|   |_| \_\\___/|_|   |_____|____/____/___\___/|_| \_/_/   \_\_____| |_|   |_| \_\\___/|_|   |___|_____|_____|____/

*/



// #################### NEW CSS FOR VERSION 3 ####################### //


// Profile Landing Page CSS #####################################

.professional-profiles-landing-container {
  display: flex;
  padding: 130px 25px 30px 25px;

  @include mq(lg) {

  }

  @include mq(md) {
    padding: 90px 10px 30px 10px;
  }

  @include mq(sm) {
    padding: 90px 5px 30px 5px;
  }

  > * {
    flex: 1 100%;
  }

  .professional-profiles-landing-header {
    flex: 1;

    @include mq(sm) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .professional-profiles--inner {
    display: flex;

    @include mq(sm) {
      flex-wrap: wrap;
    }

    .professional-profiles--inner-left {
      flex: 8;
      padding-right: 50px;
      padding-left: 50px;

      @include mq(lg) {
        flex: 7;
        padding-right: 10px;
        padding-left: 10px
      }

      @include mq(md) {
        flex: 5;
        padding-right: 5px;
        padding-left: 5px;
      }

      @include mq(sm) {
        flex: 1 100%;
        padding-right: 5px;
        padding-left: 5px;
      }
    }

    .professional-profiles--inner-right {
      flex: 2;

      @include mq(lg) {
        flex: 3;
      }

      @include mq(md) {
        flex: 5;

        h3 {
          padding-left: 15px;
          padding-right: 15px;
        }

        .subnav-sidebar {
          padding-left: 15px;
          padding-right: 15px;
          border-left: 0px;
        }
      }

      @include mq(sm) {
        flex: 1 100%;
        padding-top: 30px;

        h3 {
          padding-left: 15px;
          padding-right: 15px;
        }

        .subnav-sidebar {
          padding-left: 15px;
          padding-right: 15px;
          border-left: 0px;
        }
      }
    }

    h1.main-title {
      float: none;
      display: flex;
      padding-left: 8px;
    }

    h2.main-subtitle {
      float: none;
      display: flex;
      padding-left: 8px;
      padding-bottom: 20px;
      line-height: 140%;

      @include mq(sm) {
        font-size: 15px;
      }
    }

    .input-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;

      @include mq(md) {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        padding-left: 5px;
        padding-right: 5px;
      }

      @include mq(sm) {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        padding-left: 5px;
        padding-right: 5px;
      }

      input {
        flex: 2;
        height: 80px;
        margin-right: 250px;
        margin-bottom: 15px;
        padding: 10px 20px;
        font-size: 30px;
        font-weight: 300;
        border: 1px solid $color-secondary-alt;
        color: #888888;

        &:focus {
          border: 2px solid $color-primary;
          color: #222222;
        }

        @include mq(xl) {
          margin-right: 150px;
        }

        @include mq(lg) {
          margin-right: 45px;
        }

        @include mq(md) {
          width: 100%;
          margin-right: 50px;
          margin-bottom: 0;
        }

        @include mq(sm) {
          width: 100%;
          height: 40px;
          margin-right: 0px;
          margin-bottom: 0;
          padding: 10px 8px;
          font-size: 20px;
        }
      }

      .btn-container {
        min-width: 250px;
        margin-top: 10px;
        margin-left: auto;
        padding-right: 10px;

        @include mq(md) {
          display: block;
          width: 100%;
          min-width: 250px;
          margin-top: 15px;
        }

        @include mq(sm) {
          display: block;
          width: 100%;
          min-width: 250px;
          margin-top: 15px;
        }

        i {
          display: none;
        }

        i.fa-sort-desc {
          position: relative;
          top: -2px;
        }

        i.fa-sort-asc {
          position: relative;
          top: 2px;
        }

        .sort-name, .sort-title {
          @include mq(sm) {
            flex: 1;
            margin-top: 15px;
          }

          &.active {
            background-color: lighten($color-secondary-alt, 15%);

            i {
              display: inline;
            }
          }
        }

        .sort-name {
          margin-right: 20px;
        }

        .sort-title {

        }
      }
    }

    .professional-profiles-landing-list {
      display: flex;
      flex-wrap: wrap;
      // padding: 20px;

      @include mq(md) {
        width: 100%;
        padding-top: 25px;
      }

      @include mq(sm) {
        width: 100%;
        padding-top: 25px;
      }

      .professional-profiles-tile {
        flex: 2;
        min-width: 250px;
        max-width: 250px;
        min-height: 100px;
        margin: 8px;
        border: 1px solid #AAAAAA;

        .professional-profiles-tile--left {
          float: left;
          width: 75px;
          min-height: 100px;
          padding-top: 8px;
          text-align: center;

          img {
            max-width: 55px;
          }
        }

        .professional-profiles-tile--right {
          float: left;
          width: calc(100% - 75px);
          min-height: 100px;
          padding: 10px 15px 10px 5px;
        }

        h2 {
          float: left;
          width: 100%;
          padding-top: 2px;
          margin-bottom: 0;
          font-family: $font-primary;
          font-size: 17px;
          font-weight: 500;
          color: $color-secondary;
          line-height: 145%;

          @include mq(sm) {
            font-size: 19px;
          }
        }

        h3 {
          float: left;
          width: 100%;
          margin-top: 0;
          margin-bottom: 4px;
          font-family: $font-secondary;
          font-size: 13px;
          font-weight: 400;
          color: #777;
          line-height: 140%;

          @include mq(sm) {
            font-size: 15px;
          }
        }

        .btn {
          clear: both;
          margin-top: 10px;
          padding: 4px 13px;
          border: 0px;
          font-size: 13px;
          font-weight: 600;

          &:hover {
            padding: 4px 13px;
          }

          &.btn-secondary {
            margin-left: 8px;
          }

          &.btn-inline {
            padding-left: 0;

            @include mq(lg) {

            }

            @include mq(md) {

            }

            @include mq(sm) {
              background-color: $color-secondary-alt;
              color: $white;

              i {
                color: $white;
              }

              &:hover {
                background-color: lighten($color-secondary-alt, 15%);
              }
            }
          }
        }
      }
    }
  }
}



// Single Profile Page CSS #####################################

.professional-profile-detail {
  float: left;
  width: 100%;
  padding: 110px 20px 50px 20px;

  @include mq(sm) {
    padding: 35px 15px 50px 15px;
  }

  .ppd--header {
    float: left;
    width: 100%;

    .btn-back-to-team {
      float: left;
      width: auto;
      padding: 0;
      font-family: $font-secondary;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-secondary;

      &:hover {
        color: $color-primary;

        i {
          color: $color-primary;
        }
      }

      i {
        margin-right: 4px;
        color: $color-primary;
      }

      span {

      }

      @include mq(lg) {

      }

      @include mq(md) {

      }

      @include mq(sm) {
        margin-top: 0;
        background-color: #777777;
        color: #fff;
        width: 100%;
        padding: 12px 20px;
        text-align: center;

        i {
          color: $white;
        }

        &:hover {
          background-color: #444444;
          color: $white;

          i {
            color: $white;
          }
        }

        &:active {
          background-color: #444444;
          color: $white;

          i {
            color: $white;
          }
        }

        &:focus {
          background-color: #444444;
          color: $white;

          i {
            color: $white;
          }
        }
      }
    }
  }

  .ppd--left {
    float: left;
    width: 200px;
    text-align: center;
    padding-left: 25px;

    @include mq(lg) {
    }

    @include mq(md) {
    }

    @include mq(sm) {
      width: 100%;
      text-align: center;
    }

    img {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;

      @include mq(sm) {
        margin-top: 50px;
      }
    }

    .profile-links {
      float: left;
      width: 100%;
      text-align: center;

      .btn {
        float: none;
        width: 100%;
        padding: 10px 20px;
        max-width: 180px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        border: 0;

        i {
          margin-right: 3px;
        }

        &.profile-email-address-btn {
          background-color: $color-primary;

          &:hover {
            background-color: darken($color-primary, 10%);
            cursor: pointer;
            color: $white;
          }
        }

        &.profile-linkedin-btn {
          background-color: #0084bf;

          &:hover {
            background-color: darken(#0084bf, 10%);
            cursor: pointer;
            color: $white;
          }
        }
      }
    }
  }

  .ppd--middle {
    float: left;
    width: calc(100% - 550px);
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;

    @include mq(lg) {
    }

    @include mq(md) {
      width: calc(100% - 200px);
      padding-left: 0px;
      padding-right: 0px;
    }

    @include mq(sm) {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }

    h2.profile-name {
      float: left;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 5px;
      padding-left: 0;
      font-family: $font-primary;
      font-size: 32px;
      font-weight: 300;
      line-height: 145%;

      @include mq(md) {
        padding-left: 25px;
      }

      @include mq(sm) {
        width: 100%;
        margin-top: 25px;
        text-align: center;
      }
    }

    h3.profile-job-title {
      float: left;
      width: 100%;
      margin-bottom: 0;
      padding-left: 0;
      font-family: $font-primary;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      color: $color-primary;

      @include mq(md) {
        padding-left: 25px;
      }

      @include mq(sm) {
        width: 100%;
        text-align: center;
      }
    }

    .profile-body-text {
      float: left;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 0;
      font-family: $font-secondary;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;

      @include mq(md) {
        padding-left: 25px;
      }

      p {
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 0;
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
      }
    }
  }

  .ppd--right {
    float: left;
    width: 350px;
    padding-right: 25px;

    @include mq(lg) {
    }

    @include mq(md) {
      width: 100%;
    }

    @include mq(sm) {
      width: 100%;
      padding-right: 0;
    }

    h3 {
      float: left;
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-family: $font-primary;
      font-size: 25px;
      font-weight: 500;

      @include mq(md) {
        margin-top: 45px;
        padding-left: 25px;
      }

      @include mq(sm) {
        margin-top: 45px;
        padding-left: 0;
      }
    }

    ul {
      float: left;
      width: 100%;

      @include mq(md) {
        padding-left: 25px;
      }

      @include mq(sm) {
        padding-left: 0;
      }

      li {
        float: left;
        width: 100%;

        a {
          float: left;
          width: 100%;
          padding: 15px 10px;
          background-color: $white;
          color: $black;
          font-family: $font-primary;
          font-size: 16px;
          font-weight: 400;
          border-bottom: 1px solid #DEDEDE;

          &:hover {
            background-color: lighten($color-primary, 40%);
          }

          &.active {
            background-color: $color-primary;
            color: $white;

            &:hover {
              background-color: $color-primary;
              cursor: default;
            }

            i {
              color: $white;
            }
          }

          i {
            margin-right: 4px;
            color: $color-primary;
            font-size: 15px;
          }
        }
      }
    }
  }
}
