/*
____  _   _ ____  _     ___ ____    _  _____ ___ ___  _   _ ____
|  _ \| | | | __ )| |   |_ _/ ___|  / \|_   _|_ _/ _ \| \ | / ___|
| |_) | | | |  _ \| |    | | |     / _ \ | |  | | | | |  \| \___ \
|  __/| |_| | |_) | |___ | | |___ / ___ \| |  | | |_| | |\  |___) |
|_|    \___/|____/|_____|___\____/_/   \_\_| |___\___/|_| \_|____/

*/

.list-of-publications {
  float: left;
  width: 100%;
  background-color: #ededed;

  .publication-item {
    float: left;
    width: 100%;
    background-color: black;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    color: red;
  }
}

.ebd_link {
  margin-bottom: 15px;
  background-color: $blue-potion;
  color: $white;
  padding: 10px 15px;
  font-size: 14px;

  &:hover {
    background-color: lighten($blue-potion, 10%);
    color: $white;
  }

  &:empty {
    display: none;
  }
}

.resources--search {
  input {
    margin-bottom: 0;
    padding-left: 15px;
    box-shadow: none;
    border: 1px solid $blue-potion;
    min-height: 50px;
    color: $blue-potion;
    transition: all 200ms ease-in-out;
  
    &:focus {
      border: 3px solid lighten($blue-potion, 12%);
      box-shadow: none;
      outline: none;
    }
  
    &:active {
      border: 3px solid lighten($blue-potion, 12%);
      box-shadow: none;
      outline: none;
    }
  }
}

#bookstoreContainer {
  padding: 0px !important;
  text-decoration: none;
  list-style: none;
  margin: 20px 0px 30px 0px;

  ul {
    margin: -30px 0px 0px -20px;
  }

  li {
    font-size: 1.1em !important;
    color: #555555 !important;
    font-weight: 600;
  }

  p {
    font-size: 1.3em;
  }

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    padding: 0px !important;
    margin: 20px 0px 30px 0px;
  }
}

.bookstoreBodyContainer {
  float: left;
  clear: right;
  width: 100%;
  margin: 30px 0px 120px 0px;
  padding: 10px 10px 60px 10px;
  border: 1px solid #ddd;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    padding: 10px 0px 30px 0px;
    margin: 10px 0px 30px 0px;
  }
}

.bookstoreContainerHeader {
  font-size: 1.4em !important;
  color: #000000 !important;
  font-weight: 600;
}

.bookstoreContainerSubheader {
  font-size: 1.3em !important;
  color: #72a430 !important;
  font-weight: 200;
  font-style: italic !important;
}

.bookstoreContainerHeader2 {
  font-size: 1.1em !important;
  color: #000000 !important;
  font-weight: 600;
  margin: 20px 0px 0px 0px;
}

.bookstoreContainerList a {
  font-weight: 100 !important;
  font-size: 0.9em !important;
  color: #72a430 !important;
  text-decoration: underline;
}

.bookstoreContainerList a:hover {
  font-weight: 100 !important;
  font-size: 0.9em !important;
  color: #000000 !important;
  text-decoration: underline;
}

#bookstoreTop h1 {
  font-family: 'Raleway', sans-serif !important;
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
  color: #000;
  overflow: hidden;
  font-size: 2.2em;
  line-height: 1.4em;
  margin: 10px 0px -5px 30px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 1.5em;
    margin: 0px 0px 0px 10px;
  }
}

#bookstoreTop h2 {
  position: relative;
  margin: 0;
  font-weight: 100;
  font-style: italic;
  color: $westGreen;
  font-size: 1.1em;
  line-height: 1.4em !important;
  margin: 0px 0px 30px 30px;
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid $lightGray;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 0.9em;
    margin: 0px 0px 30px 10px;
  }
}

.bookstore {
  margin: 15px 0px 0px 0px !important;
  padding: 20px 40px 30px 30px;
}

.bookstore p {
  font-size: 1.2em;
  color: #666666;
}

.bookstoreImage {
  width: 145px;
  height: 163px;
  margin: -12px 0px 0px -10px;
}

.bookstoreContainerRightLine1 {
  font-size: 1.2em !important;
  font-weight: 600;
  color: #000000 !important;
  margin: 0px 0px 0px 20px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 1em !important;
    margin: 0px 0px 0px 0px;
  }
}

.bookstoreContainerRightLine2 {
  font-size: 1em !important;
  font-weight: 600;
  color: #555555 !important;
  margin: 10px 0px 0px 20px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 0.9em !important;
    margin: 10px 0px 0px 0px;
  }
}

.bookstoreContainerRightLine3 {
  font-size: 1.1em !important;
  font-weight: 100;
  color: #555555 !important;
  margin: 10px 0px 0px 20px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 0.9em !important;
    margin: 10px 0px 0px 0px;
  }
}

.bookstoreContainerRightLineLink {
  font-size: 1em !important;
  font-weight: 600;
  color: #72a430 !important;
  margin: 10px 0px 0px 20px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    margin: 10px 0px 0px 0px;
  }
}

.bookstoreBookStoreBodyText {
  margin: 20px 0px 20px 20px;
  font-size: 1em !important;
  line-height: 1.5em !important;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    margin: 0px 0px 30px 0px;
    font-size: 0.9em !important;
    line-height: 1.4em !important;
  }
}

.bookstoreBodyContainer {
  padding: 30px 20px 0px 20px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    padding: 30px 10px 0px 5px;
  }
}

/* ############# NEW PUBLICATIONS PAGE CSS ############# */

.publications-and-reports-page-container {
  padding-top: 100px;

  .parpc--inner {
    .parpc-page--inner-left {
      h1 {
        margin-top: 10px;
      }

      h2 {
        margin-top: 0;
      }

      h3.publications-report-subheader {
        float: left;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 5px;
        padding: 8px 20px 8px 0;
        font-family: $font-primary;
        font-size: 30px;
        font-weight: 900;
        line-height: 140%;
        color: #333333;
      }

      h4.publications-report-subheader-alt {
        float: left;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 8px 20px 8px 0;
        font-family: $font-primary;
        font-size: 22px;
        font-weight: 300;
        line-height: 140%;
      }

      ul.books-list,
      ul.publications-list,
      ul.reports-list {
        float: left;
        width: 100%;

        li.publication-list-item {
          float: left;
          width: 100%;
          padding: 8px 0 10px 0;

          &:nth-child(even) {
            background-color: $xxlight-gray;
          }

          .publication-content-container {
            float: left;
            width: calc(100% - 100px);
            padding: 10px 25px;

            @include mq(lg) {
            }

            @include mq(md) {
            }

            @include mq(sm) {
              width: 100%;
              padding-right: 0;
            }

            .publication-title {
              float: left;
              width: 100%;
              margin-bottom: 0;
              padding-right: 15px;
              font-family: $font-primary;
              font-size: 18px;
              font-weight: 600;
              line-height: 140%;
              color: $black;

              @include mq(lg) {
                font-size: 18px;
                font-weight: 500;
                line-height: 140%;
              }

              @include mq(md) {
                font-size: 17px;
                font-weight: 500;
                line-height: 140%;
              }

              @include mq(sm) {
                font-size: 16px;
                font-weight: 500;
                line-height: 140%;
              }
            }

            .publication-author-title {
              float: left;
              width: 100%;
              margin-top: 10px;
              margin-bottom: 0;
              padding-right: 15px;
              font-family: $font-primary;
              font-size: 15px;
              font-weight: 900;
              line-height: 140%;
              color: black;
              text-transform: uppercase;
            }

            .publication-author {
              float: left;
              margin-top: 5px;
              margin-right: 7px;
              margin-bottom: 8px;

              .publication-author-name {
                float: left;
                font-family: $font-primary;
                font-size: 14px;
                font-weight: 500;
                color: #222222;
                padding: 3px 8px;
                background-color: #BBBBBB;

                &.alt {
                  color: #EFEFEF;
                  background-color: #5B5B5B;
                }
              }
            }

            .publication-year {
              float: left;
              width: 100%;
              margin-top: 5px;
              font-family: $font-primary;
              font-size: 15px;
            }
          }

          .tag-container {
            float: left;
            width: 100px;

            @include mq(md) {

            }

            @include mq(sm) {
              width: 100%;
              padding-left: 15px;
              padding-right: 15px;
              padding-bottom: 15px;
            }

            .tag-type {
              float: left;
              min-width: 75px;
              margin-top: 8px;
              padding: 10px 15px 10px 10px;
              border-radius: 5px;
              font-family: $font-primary;
              font-size: 14px;
              text-align: center;
              border: 0;
  
              @include mq(sm) {
                padding: 10px 30px;
              }

              &:hover {
                border: 0;
                color: $white;

                i {
                  color: white;
                }
              }

              &:active {
                border: 0;
                color: $white;

                i {
                  color: white;
                }
              }

              &:focus {
                border: 0;
                color: $white;

                i {
                  color: white;
                }
              }

              i {
                color: white;
              }

              &.btn-pub-pdf {
                background-color: darken(red, 5%);

                &:hover {
                  background-color: lighten(red, 10%);
                }
              }

              &.btn-pub-book {
                background-color: $color-primary;

                &:hover {
                  background-color: lighten($color-primary, 15%);
                }
              }

              &.btn-pub-url {
                background-color: lighten($color-secondary-alt, 15%);

                &:hover {
                  background-color: lighten($color-secondary-alt, 30%);
                }
              }
  
              &:before {
                width: 35px;
                height: 35px;
                color: white;
              }
            }
          }
        }
      }
    }

    .parpc-page--inner-right {
      ul {
        li {
          a {
          }
        }
      }
    }
  }
}
