/*
____  _   _ ____  _     ___ ____    _  _____ ___ ___  _   _ ____
|  _ \| | | | __ )| |   |_ _/ ___|  / \|_   _|_ _/ _ \| \ | / ___|
| |_) | | | |  _ \| |    | | |     / _ \ | |  | | | | |  \| \___ \
|  __/| |_| | |_) | |___ | | |___ / ___ \| |  | | |_| | |\  |___) |
|_|    \___/|____/|_____|___\____/_/   \_\_| |___\___/|_| \_|____/

*/

.list-of-publications {
  float: left;
  width: 100%;
  background-color: #ededed;

  .publication-item {
    float: left;
    width: 100%;
    background-color: black;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    color: red;
  }
}

.ebd_link {
  margin-bottom: 15px;
  background-color: $blue-potion;
  color: $white;
  padding: 10px 15px;
  font-size: 14px;

  &:hover {
    background-color: lighten($blue-potion, 10%);
    color: $white;
  }

  &:empty {
    display: none;
  }
}

.resources-search {
  padding-left: 15px;
  box-shadow: none;
  border: 1px solid #0071a9;
  min-height: 50px;

  &:placeholder {
    color: red;
  }
}

#bookstoreContainer {
  padding: 0px !important;
  text-decoration: none;
  list-style: none;
  margin: 20px 0px 30px 0px;

  ul {
    margin: -30px 0px 0px -20px;
  }

  li {
    font-size: 1.1em !important;
    color: #555555 !important;
    font-weight: 600;
  }

  p {
    font-size: 1.3em;
  }

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    padding: 0px !important;
    margin: 20px 0px 30px 0px;
  }
}

.bookstoreBodyContainer {
  float: left;
  clear: right;
  width: 100%;
  margin: 30px 0px 120px 0px;
  padding: 10px 10px 60px 10px;
  border: 1px solid #ddd;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    padding: 10px 0px 30px 0px;
    margin: 10px 0px 30px 0px;
  }
}

.bookstoreContainerHeader {
  font-size: 1.4em !important;
  color: #000000 !important;
  font-weight: 600;
}

.bookstoreContainerSubheader {
  font-size: 1.3em !important;
  color: #72a430 !important;
  font-weight: 200;
  font-style: italic !important;
}

.bookstoreContainerHeader2 {
  font-size: 1.1em !important;
  color: #000000 !important;
  font-weight: 600;
  margin: 20px 0px 0px 0px;
}

.bookstoreContainerList a {
  font-weight: 100 !important;
  font-size: 0.9em !important;
  color: #72a430 !important;
  text-decoration: underline;
}

.bookstoreContainerList a:hover {
  font-weight: 100 !important;
  font-size: 0.9em !important;
  color: #000000 !important;
  text-decoration: underline;
}

#bookstoreTop h1 {
  font-family: 'Raleway', sans-serif !important;
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
  color: #000;
  overflow: hidden;
  font-size: 2.2em;
  line-height: 1.4em;
  margin: 10px 0px -5px 30px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 1.5em;
    margin: 0px 0px 0px 10px;
  }
}

#bookstoreTop h2 {
  position: relative;
  margin: 0;
  font-weight: 100;
  font-style: italic;
  color: $westGreen;
  font-size: 1.1em;
  line-height: 1.4em !important;
  margin: 0px 0px 30px 30px;
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid $lightGray;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 0.9em;
    margin: 0px 0px 30px 10px;
  }
}

.bookstore {
  margin: 15px 0px 0px 0px !important;
  padding: 20px 40px 30px 30px;
}

.bookstore p {
  font-size: 1.2em;
  color: #666666;
}

.bookstoreImage {
  width: 145px;
  height: 163px;
  margin: -12px 0px 0px -10px;
}

.bookstoreContainerRightLine1 {
  font-size: 1.2em !important;
  font-weight: 600;
  color: #000000 !important;
  margin: 0px 0px 0px 20px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 1em !important;
    margin: 0px 0px 0px 0px;
  }
}

.bookstoreContainerRightLine2 {
  font-size: 1em !important;
  font-weight: 600;
  color: #555555 !important;
  margin: 10px 0px 0px 20px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 0.9em !important;
    margin: 10px 0px 0px 0px;
  }
}

.bookstoreContainerRightLine3 {
  font-size: 1.1em !important;
  font-weight: 100;
  color: #555555 !important;
  margin: 10px 0px 0px 20px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 0.9em !important;
    margin: 10px 0px 0px 0px;
  }
}

.bookstoreContainerRightLineLink {
  font-size: 1em !important;
  font-weight: 600;
  color: #72a430 !important;
  margin: 10px 0px 0px 20px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    margin: 10px 0px 0px 0px;
  }
}

.bookstoreBookStoreBodyText {
  margin: 20px 0px 20px 20px;
  font-size: 1em !important;
  line-height: 1.5em !important;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    margin: 0px 0px 30px 0px;
    font-size: 0.9em !important;
    line-height: 1.4em !important;
  }
}

.bookstoreBodyContainer {
  padding: 30px 20px 0px 20px;

  /*0px --> 768px*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    padding: 30px 10px 0px 5px;
  }
}

/* ############# NEW PUBLICATIONS PAGE CSS ############# */

.publications-and-reports-page-container {
  padding-top: 100px;

  .parpc--inner {
    .parpc-page--inner-left {
      h1 {
        margin-top: 10px;
      }

      h2 {
        margin-top: 0;
      }

      h3.publications-report-subheader {
        float: left;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 15px;
        padding: 8px 20px 8px 12px;
        font-family: $font-primary;
        font-size: 15px;
        font-weight: 600;
        line-height: 140%;
        text-transform: uppercase;
        background-color: #333333;
        color: $white;
      }

      h4.publications-report-subheader-alt {
        float: left;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 8px 20px 8px 0;
        font-family: $font-primary;
        font-size: 22px;
        font-weight: 300;
        line-height: 140%;
      }

      ul.books-list,
      ul.publications-list,
      ul.reports-list {
        float: left;
        width: 100%;

        li.publication-list-item {
          float: left;
          width: 100%;
          padding: 8px 15px 10px 15px;

          &:nth-child(even) {
            background-color: #ededed;
          }

          @include mq(lg) {
          }

          @include mq(md) {
          }

          @include mq(sm) {
          }

          &.active {
            .pbi--left .email-before-download-container {
              float: left;
              width: 100%;
              height: auto;
              padding: 15px 20px 30px 20px;

              label,
              h3,
              p {
                display: block;
              }
            }
          }

          .pbi--left {
            float: left;
            width: calc(100% - 90px);
            padding-right: 30px;

            @include mq(lg) {
            }

            @include mq(md) {
            }

            @include mq(sm) {
              width: 100%;
              padding-right: 0;
            }

            p {
              font-size: 15px;
            }

            .email-before-download-container {
              float: left;
              width: 100%;
              height: 0;
              margin-top: 15px;
              padding: 0 0 0 0;
              background-color: $color-secondary-alt;
              transition: all 300ms ease-in-out;

              .download-icon {
                float: left;
                margin-top: 0;
                margin-bottom: 15px;
                padding: 7px 13px 7px 13px;
                font-family: $font-primary;
                font-size: 14px;
                font-weight: 500;
                color: $color-secondary-alt;
                background-color: #00c1ff;
                text-decoration: none;

                &:hover {
                  background-color: darken(#00c1ff, 10%);
                  color: $white;
                  cursor: pointer;
                  text-decoration: underline;

                  &:before {
                    color: $white !important;
                    text-decoration: none;
                  }
                }

                &:before {
                  content: '\f063';
                  margin-right: 4px;
                  font-family: FontAwesome;
                  color: $color-secondary-alt;
                }
              }

              .wpcf7-submit {
                float: left;
                display: block;
                min-width: $unit-jumbo;
                margin-bottom: 15px;
                padding: 7px 14px;
                border: 2px solid $color-primary;
                border-radius: 0;
                font-family: $font-primary;
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                background: $color-primary;
                color: $white;
                cursor: pointer;
                text-transform: uppercase;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                transition: all 0.3s ease;

                &:hover {
                  border: 2px solid lighten($color-primary, 15%);
                  background: lighten($color-primary, 15%);
                }
              }

              .wpcf7-form-control-wrap {
                float: left;
                width: 100%;
                min-height: 30px;
                margin-top: 10px;
                margin-bottom: 10px;
              }

              div.wpcf7-response-output {
                float: left;
                width: 100%;
                margin-top: 10px;
                margin-left: 0;
                padding: 12px 18px 12px 0;
                color: $white;
                font-weight: bold;
                font-family: $font-primary;
                font-size: 15px;
                font-style: italic;
                font-weight: 500;
                background-color: transparent;
                border: 0px;

                &.wpcf7-validation-errors {
                  background-color: red !important;
                }
              }

              label {
                float: left;
                width: 100%;
                margin-bottom: 5px;
                color: $white !important;
              }

              h3 {
                float: left;
                width: 100%;
                margin-left: 0;
                margin-top: 15px;
                margin-bottom: 25px;
                font-family: $font-primary;
                font-size: 18px;
                font-weight: 500;
                color: $white;
                display: none;

                i {
                  margin-right: 4px;
                  padding: 0;
                  color: $white;
                }

                span {
                }
              }

              p {
                float: left;
                width: 100%;
                font-family: $font-primary;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                color: $white;
                display: none;
              }
            }

            .publication-title {
              float: left;
              width: 100%;
              margin-bottom: 0px;
              padding-right: 15px;
              font-family: $font-primary;
              font-size: 18px;
              font-weight: 500;
              line-height: 140%;
              color: $black;

              @include mq(lg) {
                font-size: 18px;
                font-weight: 500;
                line-height: 140%;
              }

              @include mq(md) {
                font-size: 17px;
                font-weight: 500;
                line-height: 140%;
              }

              @include mq(sm) {
                font-size: 16px;
                font-weight: 500;
                line-height: 140%;
              }
            }

            .publication-details {
              float: left;
              width: 100%;
              font-family: $font-secondary;
              font-size: 15px;
              font-weight: 500;
              line-height: 135%;
              color: #444444;

              @include mq(lg) {
                font-size: 15px;
                font-weight: 500;
                line-height: 135%;
              }

              @include mq(md) {
                margin-top: 10px;
                font-size: 15px;
                font-weight: 400;
                line-height: 135%;
              }

              @include mq(sm) {
                margin-top: 10px;
                font-size: 14px;
                font-weight: 400;
                line-height: 140%;
              }
            }
          }

          .pbi--right {
            float: left;
            width: 90px;
            text-align: center;

            @include mq(md) {
            }

            @include mq(sm) {
              width: 100%;
            }

            a {
              float: left;
              min-width: 75px;
              margin-top: 8px;
              padding: 10px 15px;
              border-radius: 5px;
              font-family: $font-primary;
              font-size: 14px;
              text-align: center;

              @include mq(sm) {
                padding: 10px 30px;
              }

              &:before {
                width: 35px;
                height: 35px;
                color: white;
              }

              &.book-icon {
                background-color: $color-primary;

                &:hover {
                  background-color: lighten($color-primary, 10%);
                }

                &:before {
                  content: 'BOOK';
                }
              }

              &.pdf-icon {
                background-color: darken(red, 5%);

                &:hover {
                  background-color: lighten(red, 5%);
                }

                &:before {
                  content: 'PDF';
                }
              }

              &.link-icon {
                background-color: lighten($color-secondary-alt, 15%);

                &:hover {
                  background-color: lighten($color-secondary-alt, 25%);
                }

                &:before {
                  content: 'LINK';
                }
              }

              &.msc-icon {
                background-color: #CCCCC;

                &:before {
                  content: 'MSC';
                }
              }
            }
          }
        }
      }
    }

    .parpc-page--inner-right {
      ul {
        li {
          a {
          }
        }
      }
    }
  }
}
