/*
_____ _____    _    __  __
|_   _| ____|  / \  |  \/  |
 | | |  _|   / _ \ | |\/| |
 | | | |___ / ___ \| |  | |
 |_| |_____/_/   \_\_|  |_|

*/

span.bod-tag {
  padding: 2px 8px 2px 8px;
  background-color: #555;
  color: white;
  font-size: .9rem;
  font-weight: bold;
  z-index: 999;
}

.bod-container {
  float: left;
  clear: both;
  width: 300px;
  margin-top: 2rem;

  span {
    float: left;
  }

  p {
    float: left;
    margin-left: .4rem;
    font-size: 1rem;
    color: black;
  }
}

.team-group-wrap {
  h4 {
    float: left;
    width: 100%;
    font-family: $raleway;
    font-weight: 500;
    font-size: 1.3rem;
    color: $westGreen;
    padding: 10px 0px 5px 0px;
    border-bottom: 1px solid #cccccc;
    line-height: 1.3rem;

    @include mq (md) {
      font-size: .95rem;
    }

    @include mq (sm) {
      font-size: 1.2rem;
    }
  }

  h5 {
    float: left;
    width: 100%;
    font-weight: 300;
    padding: 5px 0px 5px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    line-height: 1.3rem;
    color: $charcoal;

    @include mq (md) {
      font-size: .9rem;
    }

    @include mq (sm) {
      font-size: 1rem;
    }
  }

  p small, small {
    float: left;
    width: 100%;
    font-family: $arial;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1.3em;
    color: #999;
    text-transform: uppercase;
  }

  a {
    width: 100%;
    float: left;
    padding: .6rem;
    background-color: $white;
    border: 1px solid #ddd;

    img {
      width: 100%;
      margin: 0rem;
      padding: 0rem;
      opacity: .75; -webkit-filter: grayscale(100%);

      &:hover {
        opacity: 1; -webkit-filter: none;
      }
    }

    @include mq (md) {
      padding: .2rem;
    }
  }
}

.team-member-details {
  h4, h5, p {
    text-align: center;
  }
}

.team-column-1 {
  float: left;
  width: 100%;
  margin-top: .5rem;

  .team-group-wrap {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    .team-member-wrap {
      position: relative;
      float: left;
      min-height: 280px;
      padding: 10px 0px 10px 0px;

      span.bod-tag {
        position: absolute;
        top: 21px;
        left: 10px;
      }

      &:nth-child(1) {
        width: 48%;
        margin-right: 1%;
      }

      &:nth-child(2) {
        width: 48%;
        margin-left: 1%;
      }
    }
  }
}

.team-column-2 {
  float: left;
  width: 100%;
  margin-top: .5rem;

  .team-group-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .team-member-wrap {
      position: relative;
      float: left;
      min-height: 280px;
      padding: 10px 0px 10px 0px;

      span.bod-tag {
        position: absolute;
        top: 21px;
        left: 10px;
      }

      &:nth-child(1) {
        float: left;
        width: 30%;
        margin-right: 1.5%;
      }

      &:nth-child(2) {
        float: left;
        width: 30%;
        margin-left: 1.5%;
      }

      &:nth-child(3) {
        float: left;
        width: 30%;
        margin-left: 1.5%;
      }
    }
  }
}

.team-column-3 {
  float: left;
  width: 100%;
  margin-top: 1rem;

  .team-group-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .team-member-wrap {
      position: relative;
      float: left;
      min-height: 280px;
      padding: 10px 0px 10px 0px;

      @include mq (md) {
        min-height: 230px;
      }

      span.bod-tag {
        position: absolute;
        top: 21px;
        left: 10px;
      }

      &:nth-child(1) {
        width: 24%;
        margin-right: 1%;
      }

      &:nth-child(2) {
        width: 24%;
        margin-right: 1%;
      }

      &:nth-child(3) {
        width: 24%;
        margin-right: 1%;
      }

      &:nth-child(4) {
        width: 24%;
        margin-right: 1%;
      }
    }
  }
}

.team-column-4 {
  float: left;
  width: 100%;
  margin-top: .5rem;

  @include mq (sm) {
    margin-top: .3rem;
  }

  .team-group-wrap {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;

    .team-member-wrap {
      position: relative;
      float: left;
      min-height: 280px;
      padding: 10px 0px 10px 0px;

      @include mq (md) {
        min-height: none;
      }

      span.bod-tag {
        position: absolute;
        top: 21px;
        left: 10px;
      }

      &:nth-child(1) {
        float: left;
        width: 30%;
        margin-right: 1.5%;
      }

      &:nth-child(2) {
        float: left;
        width: 30%;
        margin-left: 1.5%;
      }

      &:nth-child(3) {
        float: left;
        width: 30%;
        margin-left: 1.5%;
      }
    }
  }
}

.team-column-1, .team-column-2, .team-column-3, .team-column-4 {

  .team-member-wrap {
    @include mq (sm) {
      width: 100% !important;
      max-width: none;
    }
  }
}


.main-wrapper-team {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  padding: 110px 0px 60px 0px;

  @include mq (lg) {
    width: 90%;
    padding: 110px 0px 60px 0px;
  }

  @include mq (md) {
    width: 90%;
  }

  @include mq (sm) {
    width: 95%;
    padding: 110px 10px 30px 10px;
  }

  header.team-title {
    float: left;
    height: auto;
    width: 100%;
  }
}

.team-title {
  float: left;
  width: 100%;
  text-align: left;
  padding-bottom: 20px;

  h5 {
    font-family: $opensans;
    text-transform: capitalize;
    padding: 20px 0px 5px 0px;
    color: #333;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7rem;

    @include mq (sm) {

    }
  }

  h6 {
    padding: 0px 0px 10px 0px;
    color: $westGreen;
    overflow: hidden;
    font-family: $opensans;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: italic;;
    line-height: 1.4rem;
    border-bottom: 1px solid $westGreen;
  }
}

// /*
// _____ _____    _    __  __
// |_   _| ____|  / \  |  \/  |
//  | | |  _|   / _ \ | |\/| |
//  | | | |___ / ___ \| |  | |
//  |_| |_____/_/   \_\_|  |_|
//
// */
//
// span.bod-tag {
//   padding: 2px 8px 2px 8px;
//   background-color: #555;
//   color: white;
//   font-size: .9rem;
//   font-weight: bold;
//   z-index: 999;
// }
//
// .bod-container {
//   float: left;
//   clear: both;
//   width: 300px;
//   margin-top: 2rem;
//
//   span {
//     float: left;
//   }
//
//   p {
//     float: left;
//     margin-left: .4rem;
//     font-size: 1rem;
//     color: black;
//   }
// }
//
// .team-group-wrap {
//   h4 {
//     float: left;
//     width: 100%;
//     font-family: $raleway;
//     font-weight: 500;
//     font-size: 1.3rem;
//     color: $westGreen;
//     padding: 10px 0px 5px 0px;
//     border-bottom: 1px solid #cccccc;
//     line-height: 1.3rem;
//
//     @include mq (md) {
//       font-size: .95rem;
//     }
//
//     @include mq (sm) {
//       font-size: 1.2rem;
//     }
//   }
//
//   h5 {
//     float: left;
//     width: 100%;
//     font-weight: 300;
//     padding: 5px 0px 5px 0px;
//     font-family: 'Montserrat', sans-serif;
//     font-size: .9rem;
//     line-height: 1.3rem;
//     color: $charcoal;
//
//     @include mq (md) {
//       font-size: .9rem;
//     }
//
//     @include mq (sm) {
//       font-size: 1rem;
//     }
//   }
//
//   p small, small {
//     float: left;
//     width: 100%;
//     font-family: $arial;
//     font-weight: 600;
//     font-size: .75rem;
//     line-height: 1.3em;
//     color: #999;
//     text-transform: uppercase;
//   }
//
//   a {
//     width: 100%;
//     float: left;
//     padding: .6rem;
//     background-color: $white;
//     border: 1px solid #ddd;
//
//     img {
//       width: 100%;
//       margin: 0rem;
//       padding: 0rem;
//       opacity: .75; -webkit-filter: grayscale(100%);
//
//       &:hover {
//         opacity: 1; -webkit-filter: none;
//       }
//     }
//
//     @include mq (md) {
//       padding: .2rem;
//     }
//   }
// }
//
// .team-column-1 {
//   float: left;
//   width: 100%;
//   margin-top: .5rem;
//
//   .team-group-wrap {
//     max-width: 750px;
//     margin-left: auto;
//     margin-right: auto;
//
//     .team-member-wrap {
//       position: relative;
//       float: left;
//       min-height: 280px;
//       padding: 10px 0px 10px 0px;
//
//       span.bod-tag {
//         position: absolute;
//         top: 21px;
//         left: 10px;
//       }
//
//       &:nth-child(1) {
//         width: 48%;
//         margin-right: 1%;
//       }
//
//       &:nth-child(2) {
//         width: 48%;
//         margin-left: 1%;
//       }
//     }
//   }
// }
//
// .team-column-2 {
//   float: left;
//   width: 100%;
//   margin-top: .5rem;
//
//   .team-group-wrap {
//     width: 100%;
//     margin-left: auto;
//     margin-right: auto;
//
//     .team-member-wrap {
//       position: relative;
//       float: left;
//       min-height: 280px;
//       padding: 10px 0px 10px 0px;
//
//       span.bod-tag {
//         position: absolute;
//         top: 21px;
//         left: 10px;
//       }
//
//       &:nth-child(1) {
//         width: 24%;
//         margin-right: 1%;
//       }
//
//       &:nth-child(2) {
//         width: 24%;
//         margin-right: 1%;
//       }
//
//       &:nth-child(3) {
//         width: 24%;
//         margin-right: 1%;
//       }
//
//       &:nth-child(4) {
//         width: 24%;
//       }
//     }
//   }
// }
//
// .team-column-3 {
//   float: left;
//   width: 100%;
//   margin-top: 1rem;
//
//   .team-group-wrap {
//     width: 100%;
//     margin-left: auto;
//     margin-right: auto;
//
//     .team-member-wrap {
//       position: relative;
//       float: left;
//       min-height: 280px;
//       padding: 10px 0px 10px 0px;
//
//       @include mq (md) {
//         min-height: 230px;
//       }
//
//       span.bod-tag {
//         position: absolute;
//         top: 21px;
//         left: 10px;
//       }
//
//       &:nth-child(1) {
//         width: 19%;
//         margin-right: 1%;
//       }
//
//       &:nth-child(2) {
//         width: 19%;
//         margin-right: 1%;
//       }
//
//       &:nth-child(3) {
//         width: 19%;
//         margin-right: 1%;
//       }
//
//       &:nth-child(4) {
//         width: 19%;
//         margin-right: 1%;
//       }
//
//       &:nth-child(5) {
//         width: 19%;
//       }
//     }
//   }
// }
//
// .team-column-4 {
//   float: left;
//   width: 100%;
//   margin-top: .5rem;
//
//   @include mq (sm) {
//     margin-top: .3rem;
//   }
//
//   .team-group-wrap {
//     max-width: 550px;
//     margin-left: auto;
//     margin-right: auto;
//
//     .team-member-wrap {
//       position: relative;
//       float: left;
//       min-height: 280px;
//       padding: 10px 0px 10px 0px;
//
//       @include mq (md) {
//         min-height: none;
//       }
//
//       span.bod-tag {
//         position: absolute;
//         top: 21px;
//         left: 10px;
//       }
//
//       &:nth-child(1) {
//         width: 48%;
//         margin-right: 1.5%;
//       }
//
//       &:nth-child(2) {
//         width: 48%;
//         margin-left: 1.5%;
//       }
//     }
//   }
// }
//
// .team-column-1, .team-column-2, .team-column-3, .team-column-4 {
//
//   .team-member-wrap {
//     @include mq (sm) {
//       width: 100% !important;
//       max-width: none;
//     }
//   }
// }
//
//
// .main-wrapper-team {
//   width: 80%;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 5rem;
//   padding: 110px 0px 60px 0px;
//
//   @include mq (lg) {
//     width: 90%;
//     padding: 110px 0px 60px 0px;
//   }
//
//   @include mq (md) {
//     width: 90%;
//   }
//
//   @include mq (sm) {
//     width: 95%;
//     padding: 110px 10px 30px 10px;
//   }
//
//   header.team-title {
//     float: left;
//     height: auto;
//     width: 100%;
//   }
// }
//
// .team-title {
//   float: left;
//   width: 100%;
//   text-align: left;
//   padding-bottom: 20px;
//
//   h5 {
//     font-family: $opensans;
//     text-transform: capitalize;
//     padding: 20px 0px 5px 0px;
//     color: #333;
//     font-size: 1.5rem;
//     font-weight: 400;
//     line-height: 1.7rem;
//
//     @include mq (sm) {
//
//     }
//   }
//
//   h6 {
//     padding: 0px 0px 10px 0px;
//     color: $westGreen;
//     overflow: hidden;
//     font-family: $opensans;
//     font-size: 1.1rem;
//     font-weight: 400;
//     font-style: italic;;
//     line-height: 1.4rem;
//     border-bottom: 1px solid $westGreen;
//   }
// }







.our-team-landing-container {
  float: left;
  width: 100%;

  .otlc--inner {
    float: left;
    width: 100%;

    .otlc-page--inner-left {
      .otlc--header {
        float: left;
        width: 100%;
        margin-bottom: 30px;
        padding-top: 40px;
        padding-left: 0;

        @include mq(md) {

        }

        @include mq(sm) {
          padding-top: 0;
        }

        .main-title {
          float: left;
          width: 100%;

          @include mq(xl) {

          }

          @include mq(lg) {

          }

          @include mq(md) {

          }

          @include mq(sm) {

          }
        }

        .main-subtitle {
          float: left;
          width: 100%;

          @include mq(xl) {

          }

          @include mq(lg) {

          }

          @include mq(md) {
            font-size: 18px;
          }

          @include mq(sm) {
            font-size: 15px;
          }
        }
      }

      .our-team--row {

      }

      .our-team--row-1 {
        float: left;
        width: 100%;

        .our-team--row-1--inner {
          float: left;
          width: 100%;
          text-align: center;

          @include mq(xl) {
            float: left;
            width: 100%;
          }

          @include mq(lg) {
            float: left;
            width: 100%;
          }

          @include mq(md) {
            float: left;
            width: 100%;
          }

          @include mq(sm) {
            float: left;
            width: 100%;
          }
        }
      }

      .our-team--row-2 {
        float: left;
        width: 100%;

        .our-team--row-2--inner {
          float: left;
          width: 100%;

          @include mq(xl) {
            float: left;
            width: 100%;
            max-width: none;
          }

          @include mq(lg) {
            float: left;
            width: 100%;
            max-width: none;
          }

          @include mq(md) {
            float: left;
            width: 100%;
            max-width: none;
          }

          @include mq(sm) {
            float: left;
            width: 100%;
            max-width: none;
          }

          .team-member-tile {
            @include mq(xl) {
              // background-color: red;
            }

            @include mq(lg) {
              // background-color: blue;
            }

            @include mq(md) {
              // background-color: orange;
            }

            @include mq(sm) {
              // background-color: pink;
            }
          }
        }
      }

      .our-team--row-3 {
        float: left;
        width: 100%;

        .our-team--row-3--inner {
          float: left;
          width: 100%;

          @include mq(xl) {
            float: left;
            width: 100%;
          }

          @include mq(lg) {
            float: left;
            width: 100%;
          }

          @include mq(md) {
            float: left;
            width: 100%;
          }

          @include mq(sm) {
            float: left;
            width: 100%;
          }
        }
      }

      .team-member-tile {
        position: relative;
        float: left;
        width: calc(50% - 20px);
        max-width: none;
        min-height: 0;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 20px;
        border: 2px solid #CDCDCD;

        @include mq(xl) {
          width: calc(50% - 20px);
          max-width: none;
          min-height: 0;
          margin-bottom: 10px;
          margin-right: 10px;
        }

        @include mq(lg) {
          float: left;
          width: 100%;
          max-width: none;
          min-height: 0;
          margin-right: 0;
          margin-bottom: 12px;
          padding: 15px;
        }

        @include mq(md) {
          float: left;
          width: 100%;
          max-width: none;
          min-height: 0;
          margin-right: 0;
          margin-bottom: 12px;
          padding: 8px;
        }

        @include mq(sm) {
          float: left;
          width: 100%;
          max-width: none;
          min-height: 0;
          margin-right: 0;
          margin-bottom: 12px;
          padding: 8px;
        }

        a.team-photo-arrow {
          position: absolute;
          top: 0;
          right: 0;
          width: 80px;
          height: 50px;

          @include mq(md) {

          }

          @include mq(sm) {
            display: none;
          }

          i {
            position: relative;
            right: 0;
            top: 20px;
            font-size: 20px;
            color: $color-primary;
          }

          &:hover {

            i {
              animation: pulsearrow 500ms ease-in-out infinite;
              color: $black;
            }
          }
        }

        .team-member-photo {
          float: left;
          width: 150px;
          height: 150px;
          background-size: cover;
          background-repeat: no-repeat;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          transition: all 200ms ease-in-out;
          opacity: .8;
          overflow-y: hidden;

          @include mq(xl) {
            width: 150px;
            height: 150px;
          }

          @include mq(lg) {
            width: 150px;
            height: 150px;
          }

          @include mq(md) {
            width: 125px;
            height: 150px;
          }

          @include mq(sm) {
            width: 125px;
            height: 100px;
          }

          &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 1;
          }

          &.tile-1 {
            background-position: -15px -20px;
            background-size: 112%;
          }

          &.tile-2 {
            background-position: -15px -20px;
            background-size: 112%;
          }

          &.tile-3 {
            background-position: 0px -35px;
          }

          &.tile-4 {

          }

          &.tile-5 {

          }

          &.tile-6 {
            background-position: -13px -80px;
            background-size: 112%;
          }

          &.tile-7 {

          }

          &.tile-8 {
            background-position: 0px -40px;
          }

          &.tile-9 {
            background-position: -13px -80px;
            background-size: 112%;
          }

          &.tile-10 {
            background-position: 0px -40px;
          }
        }

        img {
          float: left;
          width: 100%;
        }

        .team-member-name{
          float: left;
          width: calc(100% - 175px);
          margin-bottom: 5px;
          padding-left: 20px;
          font-size: 26px;
          text-align: left;
          font-family: $font-primary;

          @include mq(xl) {
            width: calc(100% - 175px);
            padding-left: 20px;
            font-size: 26px;
            text-align: left;
          }

          @include mq(lg) {
            width: calc(100% - 175px);
            padding-left: 20px;
            font-size: 26px;
            text-align: left;
          }

          @include mq(md) {
            width: calc(100% - 125px);
            margin-top: 5px;
            padding-left: 20px;
            padding-right: 10px;
            font-size: 26px;
            text-align: left;
          }

          @include mq(sm) {
            width: calc(100% - 100px);
            margin-top: 5px;
            padding-left: 20px;
            padding-right: 10px;
            font-size: 20px;
            text-align: left;
          }
        }

        .team-member-job-title {
          float: left;
          width: calc(100% - 175px);
          margin-top: 5px;
          padding-left: 20px;
          font-size: 18px;
          text-align: left;
          font-family: $font-primary;

          @include mq(xl) {
            width: calc(100% - 175px);
            margin-top: 5px;
            padding-left: 20px;
            font-size: 18px;
            text-align: left;
          }

          @include mq(lg) {
            width: calc(100% - 175px);
            margin-top: 5px;
            padding-left: 20px;
            font-size: 18px;
            text-align: left;
          }

          @include mq(md) {
            width: calc(100% - 125px);
            margin-top: 5px;
            padding-left: 20px;
            padding-right: 10px;
            font-size: 16px;
            text-align: left;
          }

          @include mq(sm) {
            width: calc(100% - 100px);
            margin-top: 5px;
            padding-left: 20px;
            padding-right: 10px;
            font-size: 15px;
            text-align: left;
          }
        }

        .bod-title {
          float: left;
          width: calc(100% - 175px);
          margin-top: 18px;
          padding-left: 20px;
          text-align: left;

          @include mq(xl) {
            width: calc(100% - 175px);
            padding-left: 20px;
            text-align: left;


          }

          @include mq(lg) {
            width: calc(100% - 175px);
            padding-left: 20px;
            text-align: left;


          }

          @include mq(md) {
            width: calc(100% - 125px);
            padding-left: 20px;
            padding-right: 10px;
            text-align: left;
          }

          @include mq(sm) {
            width: calc(100% - 100px);
            padding-left: 20px;
            padding-right: 10px;
            text-align: left;
          }

          &:before {
            content: "Board of Directors";
            padding: 3px 10px;
            background-color: $color-primary;
            color: $white;
            text-transform: uppercase;
            font-family: $font-primary;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
    }

    .otlc-page--inner-right {
      @include mq(lg) {

      }

      @include mq(md) {
        padding-top: 0;
        padding-bottom: 0;
      }

      @include mq(sm) {
        padding-top: 0;
        padding-bottom: 0;
      }

      .sidebar-container {
        @include mq(lg) {

        }

        @include mq(md) {
          h3 {
            padding-left: 10px;
          }
        }

        @include mq(sm) {
          h3 {
            padding-left: 10px;
          }
        }

        ul.subnav-sidebar {
          @include mq(lg) {

          }

          @include mq(md) {
            padding-left: 0;
            border-left: 0;

            h3 {
              padding-left: 0;
            }
          }

          @include mq(sm) {
            padding-left: 0;
            border-left: 0;
          }
        }
      }
    }
  }
}
