/*
__        _____  ____  _  ______  _   _  ___  ____  ____
\ \      / / _ \|  _ \| |/ / ___|| | | |/ _ \|  _ \/ ___|
 \ \ /\ / / | | | |_) | ' /\___ \| |_| | | | | |_) \___ \
  \ V  V /| |_| |  _ <| . \ ___) |  _  | |_| |  __/ ___) |
   \_/\_/  \___/|_| \_\_|\_\____/|_| |_|\___/|_|   |____/

*/

/* ############# NEW WORKSHOPS PAGE CSS ############# */

.workshops-page-container {
  .wpc--inner {
    padding-top: 100px;

    .wpc-page--inner-left {
      h1 {
        margin-top: 10px;
      }

      h2 {
        margin-top: 0;
        margin-bottom: 10px;
      }

      h3.workshops-subheader {
        float: left;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 5px;
        padding: 8px 20px 8px 0;
        font-family: $font-primary;
        font-size: 30px;
        font-weight: 900;
        line-height: 140%;
        color: #333333;
      }

      ul.workshops-list {
        float: left;
        width: 100%;
        margin-top: 20px;

        li.list-item {
          float: left;
          width: 100%;
          margin-bottom: 20px;
          padding-bottom: 10px;
          border-bottom: 4px solid #dedede;

          .wl--left {
            float: left;
            width: calc(100% - 150px);
            padding-right: 50px;

            @include mq(lg) {
            }

            @include mq(md) {
            }

            @include mq(sm) {
              width: 100%;
              padding-right: 0;
            }

            h3.title-of-workshop {
              float: left;
              width: 100%;
              margin-bottom: 0px;
              padding-right: 15px;
              font-family: $font-primary;
              font-size: 20px;
              font-weight: 600;
              line-height: 140%;
              color: $black;

              @include mq(lg) {
                font-size: 18px;
                font-weight: 500;
                line-height: 140%;
              }

              @include mq(md) {
                font-size: 17px;
                font-weight: 500;
                line-height: 140%;
              }

              @include mq(sm) {
                font-size: 18px;
                font-weight: 500;
                line-height: 140%;
              }
            }

            .workshop-content {
              float: left;
              width: 100%;
              margin-top: 10px;
              margin-bottom: 20px;
              font-family: $font-secondary;
              font-size: 15px;
              font-weight: 500;
              line-height: 135%;
              color: #333333;
            }

            ul.workshop-links {
              margin-left: 0;
              padding-left: 0;

              li {
                margin-top: 25px;

                a.btn {
                  float: left;
                  width: auto;
                  margin-bottom: 10px;
                  padding: 10px 20px 10px 25px;
                  font-family: $font-primary;
                  font-size: 0.9rem;
                  background-color: $blue-potion;
                  border: 0;

                  @include mq(sm) {
                    width: 100%;
                    margin-top: 20px;
                    margin-right: 10px;
                    padding: 10px 30px;
                  }

                  &:hover {
                    background-color: lighten($blue-potion, 12%);
                    border: 0;
                  }
                }
              }
            }

            .workshop-start-date {
              margin-top: 15px;
              margin-bottom: 15px;

              strong {
                color: $black;
              }
            }

            .workshop-end-date {
              margin-top: 15px;
              margin-bottom: 15px;

              strong {
                color: $black;
              }
            }
          }

          .wl--right {
            float: left;
            width: 150px;

            @include mq(md) {
            }

            @include mq(sm) {
              width: 100%;
            }
          }
        }
      }
    }

    .wpc-page--inner-right {
      ul {
        li {
          a {
          }
        }
      }
    }
  }
}
