/*
 ____ _______   ___     _____ ____
/ ___|_   _\ \ / / |   | ____/ ___|
\___ \ | |  \ V /| |   |  _| \___ \
 ___) || |   | | | |___| |___ ___) |
|____/ |_|   |_| |_____|_____|____/

*/

/**
 *
 * #########%% BASE %%#########
 ~
 * RESET...............Resetting all styles to default
 * NORMALIZE...........Normalize.css
 * MAIN................General catch all for generic styles
 * GRIDS...............Potion's Fluid Grid system
 * TYPE................Font declarations
 * HELPERS.............A series of helper classes to use on demand

 * #########%% GLOBAL %%#########
 ~
 * MIXINS..............Mixins to be used by other SASS files globally
 * VARS................Variable definitions to be used by other SASS files globally

 * #########%% MODULES %%#########
 ~
 * ACCORDIONS..........Accordions and vanishing content classes
 * ALERTS..............Alert classes
 * BUTTONS.............Button classes
 * CODE................<code> block classes
 * FORMS...............Form classes
 * HEADINGS............Headings classes
 * ICONS...............Icons classes
 * IMAGES..............Image classes
 * LISTS...............Styling for order and unordered lists
 * MODALS..............Styles for modal pop ups
 * NAV.................Starter nav styles
 * MAGICTABS...........Potion's responsive tab to accordions
 * RULES...............Styling for <hr> tags
 * SUPERHEROS..........Styling for header banners or heros but in a super way!
 * TABLES..............Table classes
 * STYLEGUIDES.........Sytles only relating to the styleguide sample sheet, does not affect Potion
 */


/* ## Base ## */
@import "base/reset";
@import "base/normalize";
@import "base/main";
@import "base/grids";
@import "base/type";
@import "base/helpers";

/* ## Global ## */
@import "global/vars.scss";

/* ## Modules ## */
@import "modules/alerts.scss";
@import "modules/animations.scss";
@import "modules/buttons.scss";
@import "modules/headers.scss";
@import "modules/footers.scss";
@import "modules/layout.scss";
@import "modules/projectprofiles.scss";
@import "modules/sidebar.scss";
@import "modules/sm-nav.scss";
@import "modules/superhero.scss";

/* ## Pages ## */
@import "pages/about.scss";
@import "pages/about-west-careers.scss";
@import "pages/bookstore.scss";
@import "pages/careers.scss";
@import "pages/computerprograms.scss";
@import "pages/culture.scss";
@import "pages/events.scss";
@import "pages/home.scss";
@import "pages/locations.scss";
@import "pages/markets.scss";
@import "pages/personnel.scss";
@import "pages/professional-profiles.scss";
@import "pages/profile-page.scss";
@import "pages/publications.scss";
@import "pages/reports.scss";
@import "pages/safety.scss";
@import "pages/services.scss";
@import "pages/staff.scss";
@import "pages/team.scss";

@import "modules/cyclone-slider.scss";

html {
  overflow-x: hidden;
  overflow-y: auto; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: $font-primary;
  overflow-x: hidden;
  overflow-y: auto; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

p, span, a {
  font-family: $font-primary;
}

a {
  text-decoration: none;
  list-style: none;
}

i {
  padding: 0px 0px 0px 5px;
}
